$font-stack:    Helvetica, sans-serif;
$item-details-color: rgb(255, 255, 255);


.item-details {
    margin: 10px 73px;
}

.item-details-title{
    background-color: rgb(168, 168, 168);
    padding: 10px 15px; 
}